*{
    box-shadow: 0 0 0 3px red;
    inset: 0 0 0 3px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.calculator {
    border: black solid 1px;
}

.display {
    width: 400px;
    height: 100px;
    border: black solid 1px;
    font-size: 2rem;
}
.display input {
    width: 90%;
    height: 100%;
    font-size: 2rem;
    text-align: right;
    border: none;
}

.display__result {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
}

.input {
    border: black solid 1px;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.btn {
    font-size: 2rem;
    width: 100px;
    height: 100px;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}